section h1 {
color: blue;
font-weight: bold;
}

.hightlight {
    background-color: yellow;
    font-style: italic;
}

#main-menu{
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    text-align: center;
}

.highlight {
    color: blue;
}

#Tableau {
    border: 2px;
    border-color: black;
    border-style: dotted;
    padding: 5px;
    border-radius: 10px;
}

h2 {
    font-size: 0.5em;
    text-transform: uppercase;
}