body {
    margin: 0px;
}

header {
    background-color: #5bbfb7;
}

header a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 5px;
}

h1 {
    font-weight: bold;
    text-decoration-thickness: 3px;
    text-decoration: underline wheat;
    font-size: 1.3em;
    text-transform: capitalize;
    margin: 15px;
}

main>section {
    margin: 30px;
}

.groupie {
    background-color: whitesmoke;
    margin: 1.5ex;
    padding : 2ex;
    margin-left: 30px;
}

h2 {
    margin-left: 30px;
    text-decoration: none;
    font-weight: normal;
}

h3 {
    color: #F18075;
}

a {
    color: slateblue;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}